.img-space {
    margin: 8px;
    img {
        width: 150px;
        height: auto;
    }
}
.img-error {
    color: red;
    font-weight: bold;
}
.form-group {
    border: 0px;
}
.placeholder {
    width: 100px;
    height: auto;
    background-image: url('../../../assets/img/placeholder-150w.png');
    background-size: 75px auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #f1f3f5;
}
