<a id="section-01"></a>
<div class="wb-section">
    <mat-card class="wb-section">
        <ng-container class="loading-bar" *ngIf="!mdStore[1]">
            <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
        </ng-container>
        <div markdown class="wb-highlight" *ngIf="mdStore[1]" [data]="mdStore[1]"></div>
        <img class="img-responsive" src="assets/img/ts-youtube-thumbnail-001.png">
        <mat-card-content>
            <ng-container class="loading-bar" *ngIf="!mdStore[2]">
                <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
            </ng-container>
            <div markdown class="wb-highlight" *ngIf="mdStore[2]" [data]="mdStore[2]"></div>
            <mat-form-field>
                <input matInput placeholder="My name is" value="" [formControl]="q1">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="And my age is" value="" [formControl]="q2">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="I live with" value="" [formControl]="q3">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="I attend...^" value="" [formControl]="q4">
            </mat-form-field>
            <p>^Enter the details of your school / kindergarten / childcare / etc.</p>
        </mat-card-content>


        <mat-card-content>
            <ng-container class="loading-bar" *ngIf="!mdStore[3]">
                <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
            </ng-container>
            <div markdown class="wb-highlight" *ngIf="mdStore[3]" [data]="mdStore[3]"></div>
            <mat-form-field>
                <textarea matInput placeholder="I like (e.g. people, places, objects, activities):"
                    [formControl]="q5"></textarea>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="I am good at (strengths):" [formControl]="q6"></textarea>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="I have trouble with (challenges):" [formControl]="q7"></textarea>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="I need (supports and strategies):" [formControl]="q8"></textarea>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</div>
