<a id="section-03"></a>
<div class="wb-section">
    <mat-card class="wb-section">
        <mat-card-content>
            <mat-list>
                <ng-container class="loading-bar" *ngIf="!mdStore[9]">
                    <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
                </ng-container>
                <div markdown class="wb-highlight" *ngIf="mdStore[9]" [data]="mdStore[9]"></div>
                <div class="videoWrapper">
                  <iframe width="928" height="522" src="https://www.youtube.com/embed/F2TLRoV0Hyw" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </div>
                <ng-container class="loading-bar" *ngIf="!mdStore[10]">
                    <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
                </ng-container>
                <div markdown class="wb-highlight" *ngIf="mdStore[10]" [data]="mdStore[10]"></div>
                <mat-list-item *ngFor="let item of cbl1">
                    <mat-checkbox [(ngModel)]="item.checked" [disabled]="false" (change)="checkboxChange()">
                      {{ item.name }}
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field>
                        <input matInput placeholder="Other (please add...)" value="" [formControl]="other1">
                    </mat-form-field>
                </mat-list-item>
                <ng-container class="loading-bar" *ngIf="!mdStore[11]">
                    <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
                </ng-container>
                <div markdown class="wb-highlight" [data]="mdStore[11]"></div>
                <mat-list-item *ngFor="let item of cbl2">
                    <mat-checkbox [(ngModel)]="item.checked" [disabled]="false" (change)="checkboxChange()">
                      {{ item.name }}
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field>
                        <input matInput placeholder="Other (please add...)" value="" [formControl]="other2">
                    </mat-form-field>
                </mat-list-item>
                <ng-container class="loading-bar" *ngIf="!mdStore[12]">
                    <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
                </ng-container>
                <div markdown class="wb-highlight" *ngIf="mdStore[12]" [data]="mdStore[12]"></div>
                <ng-container *ngFor="let item of rad1; let i=index">
                    <label class="radio-label" id="example-radio-group-label">{{item.name}}</label>
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                        <mat-radio-button class="example-radio-button" *ngFor="let value of item.rating" [value]="value"
                            (change)="radioChange($event,item)">
                            {{value}}</mat-radio-button>
                    </mat-radio-group>
                </ng-container>
                <mat-list-item>
                    <mat-form-field>
                        <input matInput placeholder="Other (please add...)" value="" [formControl]="other3">
                    </mat-form-field>
                </mat-list-item>
                <ng-container class="loading-bar" *ngIf="!mdStore[13]">
                    <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
                </ng-container>
                <div markdown class="wb-highlight" *ngIf="mdStore[13]" [data]="mdStore[13]"></div>
                <mat-list-item *ngFor="let item of cbl4">
                    <mat-checkbox [(ngModel)]="item.checked" [disabled]="false" (change)="checkboxChange()">
                      {{ item.name }}
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field>
                        <input matInput placeholder="Other (please add...)" value="" [formControl]="other4">
                    </mat-form-field>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
