<div class="wb-container">
    <form class="wb-form" [formGroup]="formContent" validate (ngSubmit)="onSubmit()">

        <h1 class="wb-section-title">Welcome</h1>
        <div class="wb-section-intro">
            <p>My Autism and Me: Planning Booklet includes important information about me! It is a document that will
                change and develop as I do. It's purpose is to help everyone in my life understand my autism and what it
                means for me and my family on a day to day basis.</p>
            <p>My Autism and Me: Planning Booklet includes information about:</p>
            <ul>
                <li>The characteristics of my autism</li>
                <li>The impact of those characteristics on me and my family</li>
                <li>Strategies that can support me and my family</li>
                <li>Information about supports and services</li>
                <li>My short term and long term goals</li>
            </ul>
        </div>
        <mat-card>
            <mat-card-content class="block01">
                <h1>About Me!</h1>
                <mat-form-field>
                    <input matInput placeholder="My name is" value="" formControlName="b1_q1">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="And my age is" value="" formControlName="b1_q2">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="I live with" value="" formControlName="b1_q3">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="I attend...^" value="" formControlName="b1_q4">
                </mat-form-field>
                <p>^Enter the details of your school / kindergarten / childcare / etc.</p>
            </mat-card-content>
        </mat-card>
    </form>
</div>
