<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false" class="sidenav"
        fixedinviewport>
        <a href="https://thespectrum.org.au"><img src="assets/img/ts-logo.png" class="placeholder"></a>
        <mat-toolbar>

        </mat-toolbar>
        <nav class="wb-nav-links">
            <a href="#section-00" mat-list-item>Introduction</a>
            <a href="#section-01" mat-list-item>My Child and Autism</a>
            <a href="#section-02" mat-list-item>Understanding Autism, Social Communication and Social Interaction</a>
            <a href="#section-03" mat-list-item>Restricted and Repetitive Behaviours and Sensory Processing</a>
            <a href="#section-04" mat-list-item>Learning Styles and Key Strategies</a>
            <a href="#section-05" mat-list-item>Supports and services</a>
            <a href="#section-06" mat-list-item>How to choose supports and services</a>
            <a href="#section-07" mat-list-item>Setting Goals</a>
            <a href="#generatePDF" mat-list-item>Create PDF</a>
            <a href="#section-08" mat-list-item>To Do List</a>
            <a href="#section-09" mat-list-item>Miscellaneous</a>
        </nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button (click)="drawer.toggle()" *ngIf="isHandset$ | async" aria-label="Toggle sidenav" mat-icon-button
                type="button">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Autism and Me: Workbook</span>
        </mat-toolbar>
        <app-workbook-form></app-workbook-form>
    </mat-sidenav-content>
</mat-sidenav-container>
