@import "../../brand";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.wb-nav-links {
  margin: 16px;
  a, a:hover, a:active, a:visited {
    margin: 0px 16px;
    text-decoration: none;
    color: $col-primary;
  }
}
