<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false" class="sidenav"
        fixedinviewport>
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a href="#section-01" mat-list-item>Section 1</a>
            <a href="#section-02" mat-list-item>Section 2</a>
            <a href="#section-03" mat-list-item>Section 3</a>
            <a href="#section-04" mat-list-item>Section 4</a>
            <a href="#section-05" mat-list-item>Section 5</a>
            <a href="#section-06" mat-list-item>Section 6</a>
            <a href="#section-07" mat-list-item>Section 7</a>
            <a href="#section-08" mat-list-item>Section 8</a>
            <a href="#section-09" mat-list-item>Section 9</a>
            <a href="#generatePDF" mat-list-item>Create PDF</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button (click)="drawer.toggle()" *ngIf="isHandset$ | async" aria-label="Toggle sidenav" mat-icon-button
                type="button">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Autism and Me: Workbook</span>
        </mat-toolbar>
        <app-workbook-form></app-workbook-form>
    </mat-sidenav-content>
</mat-sidenav-container>
