<div class="wb-section" *ngFor="let item of staticContent">
    <a id="section-03"></a>
    <h1 [innerHTML]="item.sectionTitle"></h1>
    <h2 [innerHTML]="item.title0"></h2>
    <h3 [innerHTML]="item.body0"></h3>
    <mat-card>
        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let item of cbl1">
                    <mat-checkbox [(ngModel)]="item.checked" [disabled]="false" (change)="list_change()">{{ item.name }}
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item *ngFor="let item of cbl2">
                    <mat-checkbox [(ngModel)]="item.checked" [disabled]="false" (change)="list_change()">{{ item.name }}
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item *ngFor="let item of cbl3">
                    <mat-checkbox [(ngModel)]="item.checked" [disabled]="false" (change)="list_change()">{{ item.name }}
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item *ngFor="let item of cbl4">
                    <mat-checkbox [(ngModel)]="item.checked" [disabled]="false" (change)="list_change()">{{ item.name }}
                    </mat-checkbox>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
