<div class="wb-section" *ngFor="let item of staticContent">
    <a id="section-04"></a>
    <h1 [innerHTML]="item.sectionTitle"></h1>
    <h2 [innerHTML]="item.title0"></h2>
    <h3 [innerHTML]="item.body0"></h3>
    <mat-card>
        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let item of cbl1">
                    <mat-checkbox [(ngModel)]="item.checked" [disabled]="false" (change)="list_change()">{{ item.name }}
                    </mat-checkbox>
                </mat-list-item>
                <mat-list-item *ngFor="let item of cbl2">
                    <mat-checkbox [(ngModel)]="item.checked" [disabled]="false" (change)="list_change()">{{ item.name }}
                    </mat-checkbox>
                </mat-list-item>
                <ng-container *ngFor="let item of rad1; let i=index">
                    <label id="example-radio-group-label">{{item.name}}</label>
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                        <mat-radio-button class="example-radio-button" *ngFor="let value of item.rating" [value]="value"
                            (change)="radioChange($event,item)">
                            {{value}}</mat-radio-button>
                    </mat-radio-group>
                </ng-container>
                <mat-list-item *ngFor="let item of cbl4">
                    <mat-checkbox [(ngModel)]="item.checked" [disabled]="false" (change)="list_change()">{{ item.name }}
                    </mat-checkbox>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
