<div class="wb-section">
    <a id="section-06"></a>
    <mat-card>
        <mat-card-content>
            <div markdown class="wb-highlight" [data]="mdStore[24]"></div>
            <img class="wb-mind-map" src="assets/img/mind_map_001.png" />
            <img class="wb-mind-map" src="assets/img/mind_map_002.png" />
            <img class="wb-mind-map" src="assets/img/mind_map_003.png" />
            <img class="wb-mind-map" src="assets/img/mind_map_004.png" />
        </mat-card-content>
    </mat-card>
</div>
