<a id="section-06"></a>
<div class="wb-section">
    <mat-card class="wb-section">
        <mat-card-content>
            <ng-container class="loading-bar" *ngIf="!mdStore[24]">
                <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
            </ng-container>
            <div markdown class="wb-highlight" *ngIf="mdStore[24]" [data]="mdStore[24]"></div>
            <img class="wb-mind-map" src="assets/img/mind_map_001.png" />
            <img class="wb-mind-map" src="assets/img/mind_map_002.png" />
            <img class="wb-mind-map" src="assets/img/mind_map_003.png" />
            <img class="wb-mind-map" src="assets/img/mind_map_004.png" />
        </mat-card-content>
    </mat-card>
</div>
