<div class="wb-section" *ngFor="let item of staticContent">
    <a id="section-07"></a>
    <h1 class="wb-section-title" [innerHTML]="item.sectionTitle"></h1>
    <h2 [innerHTML]="item.title0"></h2>
    <mat-card>
        <mat-card-content>
            <h3 [innerHTML]="item.body0"></h3>
            <mat-form-field>
                <input matInput placeholder="A month: " value="" [formControl]="q1">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="3 Months: " value="" [formControl]="q2">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="A year: " value="" [formControl]="q3">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Who will help? (Informal, formal and community supports) " value=""
                    [formControl]="q4">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="How e.g. what strategies? " value="" [formControl]="q5">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Monitor progress: " value="" [formControl]="q6">
            </mat-form-field>

        </mat-card-content>
    </mat-card>
</div>
