.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.wb-container {
  max-width: 960px;
  margin: 16px auto;
}

.wb-section-title {
  padding-top: 100px !important;
}
.wb-body {
  padding: 16px;
  background-color: #e9ecef;
  border-radius: 16px;
}

.wb-section h1 {
  font-size: 3em;
  margin: 24px 0px;
}

.wb-section h2 {
  font-size: 2em;
  margin: 24px 0px;
}

.wb-section h3 {
  font-size: 1.2em;
  line-height: 1.6em;
  margin: 24px 0px;
}

.wb-section ul {
  padding: 0px;
  list-style: none;
}

.generate-pdf {
  font-size: 16px;
  margin: 32px 0px;
}

mat-form-field {
  width: 100%;
}

.wb-radio {
  margin: 16px 0px;
}

.radio-label {
  font-size: 16px;
}

.wb-mind-map {
  max-width: 800px;
  height: auto;
  margin: 32px;
}


