<div class="wb-container">
    <form class="wb-form">
        <app-section00></app-section00>
        <app-section01></app-section01>
        <app-image-upload></app-image-upload>
        <app-section02></app-section02>
        <app-section03></app-section03>
        <app-section04></app-section04>
        <app-section05></app-section05>
        <app-section06></app-section06>
        <app-section07></app-section07>
        <!-- Generate PDF -->
        <a id="generatePDF"></a>
        <mat-card class="wb-section">
            <mat-card-content>
                <ng-container class="loading-bar" *ngIf="!mdStore[26]">
                    <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
                </ng-container>
                <div markdown class="wb-highlight" *ngIf="mdStore[26]" [data]="mdStore[26]"></div>
                <button class="generate-pdf" mat-raised-button color="primary" (click)="generatePdf()">Create
                    PDF</button>
            </mat-card-content>
        </mat-card>
        <!-- end Generate PDF -->
        <app-section08></app-section08>
        <app-section09></app-section09>
    </form>
</div>

<div>

</div>
