<a id="section-02"></a>
<h1>Section 2</h1>
<h2>My social communication and social interaction: Characteristics</h2>
<h3>Social communication and social interaction are areas of difference for people on the spectrum, but these
    characteristics are not the same for every person with autism. It is important to understand what is true to me and
    my
    autism. From here we can understand how these characteristics impact on me and my family. This information can
    increase
    awareness and acceptance of my behaviour as well as guide the development of personalised strategies that can have a
    positive impact on my communication and play!</h3>
<mat-card>
    <mat-card-content>
        <h4>Sometimes...</h4>
        <!-- <mat-form-field>
                        <ul>
                            <li>
                                <mat-checkbox>I understand pictures better than spoken words</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox>I find it tricky to give eye contact</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox>I have trouble knowing what others are going to do e.g. I don’t reach out
                                    my arms
                                    when someone is about to pick me up, or I don’t seem to understand familiar games
                                    e.g.
                                    ‘Peek-a-Boo’ or ‘Chasey’</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox>I find understanding body language and gestures confusing e.g. smiling
                                    when smiled
                                    at; pointing or waving in context</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox>I can find it tricky to know how close to stand and sit next to other
                                    people
                                </mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox>I physically show people what I want or need rather than telling them with
                                    words
                                    eg pull mum to the fridge when I want a snack or bang on the door if I want to go
                                    outside
                                </mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox>I prefer to be alone, with adults or younger children instead of playing
                                    with
                                    peers</mat-checkbox>
                            </li>
                            <li>
                                <mat-checkbox>I stick with people and activities I know</mat-checkbox>
                            </li>
                        </ul>
                    </mat-form-field> -->
    </mat-card-content>
</mat-card>
