<div class="wb-section" *ngFor="let item of staticContent">
    <a id="section-05"></a>
    <h1 class="wb-section-title" [innerHTML]="item.sectionTitle"></h1>
    <mat-card>
        <mat-card-content>
            <markdown [data]='returnedData'></markdown>
            <h3 class="wb-body" [innerHTML]="item.intro"></h3>
            <img class="img-responsive" src="assets/img/ts-youtube-thumbnail-005.png">
            <h2 [innerHTML]="item.title0"></h2>
            <h3 [innerHTML]="item.body0"></h3>
            <h3 class="wb-body" [innerHTML]="item.body0"></h3>
            <mat-form-field>
                <input matInput placeholder="Formal: " value="" [formControl]="q1">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Informal: " value="" [formControl]="q2">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Community: " value="" [formControl]="q3">
            </mat-form-field>

            <h3 class="wb-body" [innerHTML]="item.body1"></h3>
            <mat-form-field>
                <input matInput placeholder="Formal: " value="" [formControl]="q4">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Informal: " value="" [formControl]="q5">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Community: " value="" [formControl]="q6">
            </mat-form-field>

            <h3 class="wb-body" [innerHTML]="item.body2"></h3>
            <mat-form-field>
                <input matInput placeholder="Formal: " value="" [formControl]="q7">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Informal: " value="" [formControl]="q8">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Community: " value="" [formControl]="q9">
            </mat-form-field>

            <h3 class="wb-body" [innerHTML]="item.body3"></h3>
            <mat-form-field>
                <input matInput placeholder="Formal: " value="" [formControl]="q10">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Informal: " value="" [formControl]="q11">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Community: " value="" [formControl]="q12">
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</div>
